.registration {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 23px;
  border: 1px solid $color-black;
  background-color: $color-alice-blue;

  &__close-button {
    position: relative;
    align-self: flex-end;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 10px;
    background-color: $color-white;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 2px;
      transform: rotate(45deg) translate(-50%, 0);
      transform-origin: left;
      border-radius: 1px;
      background-color: $color-black;
    }

    &::after {
      transform: rotate(-45deg) translate(-50%, 0);
    }
  }

  &__title {
    margin-top: 2px;
    margin-bottom: 14px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 160%;
    text-shadow: $shadow-black25;
    color: $color-dark-gray;
  }

  &__input {
    height: 73px;
    padding: 24px;
    border: none;
    border-radius: 10px;
    font-family: $font-family-base;
    font-size: 1.125rem;
    font-weight: 500;
    background-color: $color-azureish-white;

    &::placeholder {
      color: $color-dark-blue;
    }

    &:not(:first-of-type) {
      margin-top: 4px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 1.125rem;

    &-input {
      appearance: none;
      width: 20px;
      height: 20px;
      margin-right: 16px;
      margin-left: 2px;
      border: 2px solid $color-dark-gray;
      border-radius: 3px;

      &:checked {
        background-image: linear-gradient($color-cobald-blue, $color-cobald-blue);
        background-size: 60% 60%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__link {
    margin-top: 24px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: $color-cobald-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  &__signin-button,
  &__signup-button {
    height: 65px;
    border: none;
    border-radius: 4px;
    font-family: $font-family-base;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 160%;
    color: $color-white;
    background-color: $color-cobald-blue;
  }

  &__signin-button {
    margin-top: 36px;
  }

  &__signup-button {
    margin-top: 4px;
    border: 1px solid $color-cobald-blue;
    color: $color-cobald-blue;
    background-color: $color-alice-blue;
  }
}
