$font-family-base: 'Manrope', 'Arial', sans-serif;
$font-size-base: 16px;

$color-black: #000000;
$color-black25: #00000040;
$color-black44: #00000070;
$color-dark-gray: #323232;
$color-gray: #727272;
$color-white: #FFFFFF;
$color-dark-blue: #1F4284;
$color-cobald-blue: #244C98;
$color-flash-white: #EBF0FA;
$color-azureish-white: #D7E2F6;
$color-alice-blue: #F0F4FC;

$shadow-black25: 0 4px 4px $color-black25;

$url-background-327: url("./images/jpg/background-327.jpg");
$url-background-684: url("./images/jpg/background-684.jpg");
$url-background-720: url("./images/jpg/background-720.jpg");
$url-background-910: url("./images/jpg/background-910.jpg");
$url-arrow: url('./images/svg/icon__arrow.svg');
